.tarjeta.color-primario
  background-color: #E5CFEA

.tarjeta.color-primario *
  color: #000 !important

.BG01
  border: 5px solid #7F0F98
  border-radius: 15px

.BG02
  background-color: #EFF2AC

.BG02
  background-color: #F6F6F6

.box-soft
  background-color: #FFF3DF
.box-soft-green
  background-color: #EDF3E3

//-tamaño imagenes
.img10
  max-width: 10px 
.img30
  max-width: 30px 
.img60
  max-width: 60px
.img90
  max-width: 90px

.colorf
  background-color: #EFF2AC
.colortext1
  color: #000