.tarjeta.color-primario
  background-color: #E5CFEA

.tarjeta.color-primario *
  color: #000 !important

.BG01
  border: 5px solid #7F0F98
  border-radius: 15px

.BG02
  background-color: #EFF2AC

.BG02
  background-color: #F6F6F6

.box-soft
  background-color: #FFF3DF
.box-soft-green
  background-color: #EDF3E3

.BG03
  background-color: #A840BF

.BG04
  background-color: #7F0F98

//-tamaño imagenes
.img10
  max-width: 10px 
.img30
  max-width: 30px
.img40
  max-width: 40px 
.img60
  max-width: 60px
.img80
  max-width: 80px
.img85
  max-width: 85px
.img90
  max-width: 90px
.img95
  max-width: 95px
.img100
  max-width: 100px
.img120
  max-width: 120px
.img800
  max-width: 800px
.img125
  max-width: 125px
  max-height: 155px
.img150
  max-width: 150px
.img155
  max-width: 155px
.img3678
  max-width: 36px
  max-height: 78px
.img94105
  max-width: 94px
  max-height: 105px
.img8040
  max-width: 80px
  max-height: 40px
.img343312
  max-width: 343px
  max-height: 312px
.img615
  max-width: 615px
  max-height: 675px
.img833154
  max-width: 833px
  max-height: 154px
.img1100
  max-width: 1100px
  max-height: 587px

.tarjeta-flip.color-primario .tarjeta-flip__img
  background-color: #719DFF !important

.tarjeta-flip.color-primario .tarjeta-flip__contenido
  background-color: #719DFF !important

.colorf
  background-color: #EFF2AC
.colortext1
  color: #000
.colort
  background-color: #7F8232
.color-acento-botones-claro
  background-color: #EDEEC7
.colorgris
  background-color:#E5E7EA

.cont1
  width: 290px
  height: 370px

.justify-center
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: center
  flex-direction: row

.align-items-center
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: flex-start
  flex-direction: row

.justify-space-around
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: space-around
  flex-direction: row

.justify-space-between
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: space-between
  flex-direction: row

.justify-space-evenly
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: space-evenly
  flex-direction: row

.center-center-column
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;

.flex-end
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;

.flex-center
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;

.flex-wrap-center-row
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;

.flex-left
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;

.flex-center-texto
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;

.flex-right 
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
 justify-content: flex-end;
 flex-direction: row;

//-Contenedores bloques de colores
.contenedor--texto
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 15%
    bottom: 15%
    left: 0
    right: 30%
    background-color: #EAF1F4

.contenedor--texto-right
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 5%
    bottom: 5%
    left: 0
    right: 60%
    background-color: #DDC7E1

.contenedor--texto-left
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 5%
    bottom: 5%
    left: 55%
    right: 0
    background-color: #DDC7E1

.contenedor--texto-right-pink2
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 0
    bottom: 70%
    left: 0
    right: 72%
    background-color: #DDC7E1

.contenedor--texto-right-pink3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 25%
    bottom: 45%
    left: 0
    right: 62%
    background-color: #DDC7E1

.contenedor--texto-right-pink4
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 0
    bottom: 70%
    left: 0
    right: 48%
    background-color: #DDC7E1

.contenedor--texto-left-pink2
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 0
    bottom: 5%
    left: 68%
    right: 0
    background-color: #DDC7E1

.contenedor--texto-left-pink3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 30%
    bottom: 5%
    left: 70%
    right: 0
    background-color: #DDC7E1

.contenedor--texto-left-pink4
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 70%
    bottom: 0
    left: 42%
    right: 0
    background-color: #DDC7E1

.contenedor--texto-right-blue
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 16%
    bottom: 60%
    left: 0
    right: 58%
    background-color: #D0DAF1

.contenedor--texto-right-blue2
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 20%
    bottom: 40%
    left: 0
    right: 75%
    background-color: #D0DAF1

.contenedor--texto-right-blue3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 0
    bottom: 40%
    left: 0
    right: 75%
    background-color: #D0DAF1

.contenedor--texto-left-blue
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 25%
    bottom: 15%
    left: 42%
    right: 0
    background-color: #CEDBF9

.contenedor--texto-left-blue2
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 25%
    bottom: 15%
    left: 70%
    right: 0
    background-color: #CEDBF9

.contenedor--texto-left-blue3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -15%
    bottom: 65%
    left: 70%
    right: 0
    background-color: #CEDBF9

.contenedor--texto-left-blue4
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 95%
    bottom: -60%
    left: 62%
    right: 0
    background-color: #CEDBF9

.contenedor--texto-completo-pink
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 15%
    bottom: 15%
    left: 0
    right: 30%
    background-color: #EAF1F4

.contenedor--texto
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 15%
    bottom: 15%
    left: 0
    right: 30%
    background-color: #EAF1F4

.linea--parrafo
  height: 1px;
  margin-left: 0%;
  margin-right: 59%;
  background-color: gray;